@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    width: 400px;
    height: 1250px;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 20px;
}
.profile-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #f4f140;
}
.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4 ;
    padding: 3px;
    margin-bottom: 10px;
}
.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}
.text-data .name{
    font-size: 24px;
    font-weight: 500;
}
.text-data .job{
    font-size: 15x;
    font-weight: 400;
}
.profile-card .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.media-buttons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #4070f4;
    text-decoration: none;
}

.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;   
}
.buttons .button{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 10px 10px;
    padding: 8px 24px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons .button:hover{
    background-color: #0e4bf1;
}
.container{
    padding: 25px;
}
.player-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 400px;
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.player-info .h1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
}

.player-info .row-info{
    padding: 3px;
    display: flex;
}
.row-info .information{
    font-size: 24px;
    font-weight: 400;
    padding-inline: 5px;
    color: rgb(15, 6, 141);
}
.row-info .nomal-title{
    font-size: 24px;
    font-weight: 400;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to bottom, #ffa400, #00aefd);
    border-radius: 100rem;
}
body::-webkit-scrollbar-track{
    background-color: #ccc;
    border-radius: 100rem;
}
.buttons .h1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
}
